.download_button {
  color: #7d70dd;
  display: flex;
  align-items: center;
  border: 1px solid #7d70dd;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  padding: 12px 32px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 16px;

  svg {
    margin-right: 9px;
  }

  path {
    transition: 0.25s;
  }

  &:hover {
    color: #fff;
    background-color: #7d70dd;

    & path {
      stroke: #fff;
    }
  }
}
