.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #e2deff;
  transition: 0.25s;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  path {
    transition: 0.25s;
  }

  .text {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 8px;
    transition: 0.25s;
    color: #7d70dd;
  }

  &:hover {
    background-color: #7d70dd;

    & .plus {
      width: 24px;
      height: 24px;

      path {
        stroke: #fff;
      }
    }

    .text {
      transition: 0.25s;
      color: #fff;
    }
  }
}
