.approve_button {
  border: none;
  outline: none;
  padding: 13px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(21, 21, 21, 0.08);
  border-radius: 56px;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;

  &:hover {
    color: #6fcf97;

    .chevron {
      fill: #6fcf97;
    }
  }
}

.text_button {
  margin-left: 10.5px;
}
