.tab_title {
  font-weight: 500;
  color: #151515;
  transition: 0.25s;
  font-size: 16px;
  padding: 12px 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  user-select: none;

  &.active {
    color: #7d70dd;
    border-bottom-color: #7d70dd;
  }

  &:hover {
    color: #7d70dd;
  }
}
