.section_item {
  width: 100%;
  max-width: 1184px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;

  &:hover {
    & .order-buttons {
      opacity: 1;
    }
  }
}

.order-buttons {
  opacity: 0;
  transition: 0.25s;
}

.text_editor {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 928px;
  border: 1px solid #f5f4f4;
  border-radius: 8px;
  transition: 0.25s;
  box-shadow: 0 4px 12px transparent;
  padding: 16px;

  &:hover {
    box-shadow: 0 4px 12px rgba(21, 21, 21, 0.08);
  }
}

.quill {
  width: 100%;
  max-width: 657px;
  display: flex;
  flex-direction: column;
}

.section_text {
  width: 100%;
  max-width: 643px;
  font-weight: 500;
  color: #151515;
}

.section_buttons {
  width: 100%;
  margin-left: 16px;
  max-width: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.editor_variables {
  background: #faf9f9;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 221px;
  margin-left: 16px;

  &_text {
    color: #151515;
    margin-bottom: 18px;
    font-size: 14px;
  }

  & .variables {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .variable {
    background: #f5f4f4;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px 8px;
    color: #74cde0;
    margin-bottom: 10px;
  }
}

.file {
  display: inline-block;

  .header {
    width: 152px;
    height: 112px;
    background: #f5f4f4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    .text {
      font-size: 24px;
      font-weight: 700;
      color: #7d70dd;
    }
  }

  .name {
    color: #151515;
    line-height: 22px;
    max-height: 66px;
    overflow: hidden;
    width: 152px;
    word-break: break-all;
    text-overflow: ellipsis;
  }
}
