body {
  margin: 0;
}

a {
  text-decoration: none;
}

.app {
  max-width: 1408px;
  margin: 0 auto;
  display: flex;
  padding-top: 105px;

  &__left {
    width: 100%;
    max-width: 250px;
    margin-right: 14px;
  }

  &__right {
    width: 100%;
    max-width: 1152px;
  }
}

.right {
  &-header {
    padding-top: 90px;
    display: flex;
    flex-direction: column;

    &__buttons {
      display: flex;
      position: fixed;
      background-color: #fff;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      padding: 16px;

      & > * {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__info {
      color: #151515;
      background: #FAF9F9;
      border-radius: 16px;
      padding: 20px;

      .title {
        font-size: 20px;
        margin-bottom: 8px;
        font-weight: 500;
      }

      .version {
        background: #F0F2F5;
        border-radius: 16px;
        color: #7D70DD;
        cursor: pointer;
        position: relative;

        .chevron {
          position: absolute;
          top: 14px;
          right: 16px;
          width: 24px;
          height: 24px;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACBSURBVHgB7ZDBDYAgDEUrLiJxEjdiARMSF2AjJzGwiEZRvGCpf4D+C4TS95oSaTSajnuc3Rbz2ZOZfLBJAngXh52ONd+XMNq6boTeuzEDAHjzDyvIk19HkiQVPJWeT9gVtQDvuqQaLJCmROG/Ak5SniE4JGAkhMJhQSUhFK7RaJ6cMihUe2/m5TAAAAAASUVORK5CYII=');
        }

        p {
          padding: 16px;
          color: #7D70DD;
        }

        .hidden {
          p {
            color: #151515;
          }
        }
      }

      .recipient {
        display: flex;
        flex-direction: column;

        &__name {
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 16px;
        }

        &__value {
          margin-bottom: 16px;
          color: #6152d6;
          margin-right: 16px;
        }

        &__date {
          margin-bottom: 16px;
          color: #bdbdbd;
        }
      }

      .categories {
        margin-bottom: 16px;
        display: flex;

        .category {
          margin-right: 16px;
          color: #ffff;
          padding: 2px 8px;
          background-color: #7d70dd;
          font-size: 14px;
          border-radius: 100px;

          &:nth-child(1) {
            background-color: #f7c274;
          }

          &:nth-child(2) {
            background-color: #74cde0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.quill {
  flex-grow: 1;
}

.ql-picker-options {
  position: static !important;
  display: flex !important;
  border: none !important;
  box-shadow: none !important;
  width: auto;
  height: auto;
}

.ql-picker-label {
  display: none !important;
}

.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
  width: auto !important;
  height: auto !important;
  display: flex;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none !important;
}

.ql-container.ql-snow {
  height: 100% !important;
  min-height: 180px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.quill-hashtag {
  background: #f5f4f4;
  border-radius: 100px;
  padding: 2px 8px;
}

.ql-editor {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #bdbdbd;
  border-radius: 0 0 8px 8px;
}

.ql-disabled .ql-editor {
  border: none;
}

.ql-container.ql-snow {
  border: none !important;
}

.quill_delete {
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;

  .ql-editor {
    padding: 0;
  }
}

.format {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  &__name {
    font-size: 12px;
    font-weight: 500;
    background: #e2deff;
    border-radius: 100px;
    padding: 4px 8px;
    color: #7d70dd;
  }

  &__status {
    border-radius: 100px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;

    .status__icon {
      width: 10px;
      display: inline-block;
      margin-right: 6px;
    }

    &.approve {
      background-color: #d7f4e3;

      .status__icon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB2SURBVHgBhY7RDUAwFEXv8yW+jNANxAaMYgIdwQb8UH90EiN0BSN0AaolEWmK9/Vy7snNJfxcrcaWsMnoS+JqmAFTAMkacSWYBTwkGVBGiMsur/TZaEHNVd+8SY7RFQhmgIWwS4uYL93iU7av9qXAeLd3SkPZAXzOMI5x+uKmAAAAAElFTkSuQmCC");
        height: 6.5px;
      }

      .status__name {
        color: #6fcf97;
      }
    }

    &.edit {
      background-color: #f5dbc4;

      .status__icon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACESURBVHgBlc+9DYNADAXgZ0MdKRtklKSLWIIS0bEBjECH6GADSjpWYQOQ6G3uroGC48ednz9ZeoSDmar/J2AeACleSd/ajH2IgAYISrN/bR76PqkwKcts4tHe6AjBIc1F9PdO+w1eIQfvIFcmZI4B7c7QrgxlBo0+9GhoqaNcgeIUmfsKv8ZU4Up1f1kAAAAASUVORK5CYII=");
        height: 10px;
      }

      .status__name {
        color: #f2994a;
      }
    }
  }
}
