.app {
  padding-top: 30px;
  max-width: 1408px;
  padding-left: 18%;
  margin: 0 auto;

  &__right {
    width: 100%;
    max-width: 1152px;
  }
}

.right {
  &-header {
    &__buttons {
      display: flex;
      margin-bottom: 16px;
    }

    &__info {
      color: #151515;

      .title {
        font-size: 24px;
        margin-bottom: 8px;
      }

      .recipient {
        display: flex;
        margin-bottom: 8px;

        &__name {
          margin-right: 16px;
        }

        &__value {
          color: #6152d6;
          margin-right: 16px;
        }

        &__date {
          color: #bdbdbd;
        }
      }

      .categories {
        margin-bottom: 5px;
        display: flex;

        .category {
          margin-right: 16px;
          color: #ffff;
          padding: 2px 8px;
          background-color: #7d70dd;
          font-size: 14px;
          border-radius: 100px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.quill {
  flex-grow: 1;
}

.ql-picker-options {
  position: static !important;
  display: flex !important;
  border: none !important;
  box-shadow: none !important;
  width: auto;
  height: auto;
}

.ql-picker-label {
  display: none !important;
}

.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
  width: auto !important;
  height: auto !important;
  display: flex;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none !important;
}

.ql-container.ql-snow {
  height: 100% !important;
  min-height: 180px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.quill-hashtag {
  background: #f5f4f4;
  border-radius: 100px;
  padding: 2px 8px;
}

.ql-editor {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.can_edit {
}

.no_edit {
  border: 1px solid #f5f4f4;
  border-radius: 8px;
  transition: 0.25s;
  box-shadow: 0 4px 12px transparent;

  &:hover {
    box-shadow: 0 4px 12px rgba(21, 21, 21, 0.08);
  }

  & .ql-container.ql-snow {
    border: none !important;
  }
}
